/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   
}

/* banner section style */
.banner-section{
    background-color: #2D25A0;
    height:677px;
    display: flex;
    justify-content: center;

}
.banner-div{
    
}
.banner-title{
    color: white;
    width: 485px;
    height: 230px;
    margin-top: 207px;
    margin-left: 156px;
    margin-bottom: 169px;
}
.banner-div h1{
    font-size: 70px;
}

.banner-section img{
    Width :556.01px;
    height: 438px;
     margin-top: 153px;
     margin-right: 140px;
    margin-left: 102px;
}

.watch-live-button{
   background-color: #E02C6D;
   color: white;
   width: 188px;
   height: 44px;
}


/* Style Players */
.players-sec{
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 33px;
    grid-row-gap: 27px;
    padding: 70px 210px 165px 180px;
    /* padding-top: 70px;
    padding-left: 180px;
    padding-right: 210px;
    padding-bottom: 165px; */
}

.players{
    width: 330px;
    height: 474px;
    background-color:  #FFFFFF;
    border: 1px solid red;
    
}
.player{
    Width : 300px;
    height: 396px;
    padding:15px;
    
}
.player-details{
    color: #6C6C6C;
}

.player-photo img{
    Width : 300px;
    Height : 256px;
}

.player-info{
    Width : 300px;
    height: 124px;
    margin-bottom: 63px;
}